$background_color_1: #191919;
$background_color_2: #FBB13C;
$background_color_3: #FB5E3C;
$background_color_4: #B8AFDA;
$background_color_5: #fcf9f4;
$background_color_6: #FBF8F4;
$background_color_7: #FFF;

$background_color_2_accessibility: #FF9C00;
$background_color_3_accessibility: #F82D00;

$color_1: #191919;
$color_2: #FBB13C;
$color_3: #FFF;
$color_4: #919392;
$color_5: #FB5E3C;

$font_family_mulish: 'Mulish', sans-serif;
$font_family_montserrat: 'Montserrat', sans-serif;
$font_family_raleway: "Raleway", sans-serif;


